node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments
ignition/deployments/chain-31337

# Geo server
geo-server/node_modules/

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# Uploads & secrets
uploads/
wallet/
